{% extends 'base.html' %} {% block content %}
<style>
  .header {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #314c74;
    margin-top: 7px;
    margin-left: 10px;
  }
  .info-heading {
    height: 32.094635009765625px;
    width: 533.0104370117188px;
    left: 299.7646484375px;
    top: 217.8798828125px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #617594;
    text-align: left;
    justify-content: left;
    flex:20%
  }
  .top-ctn {
    justify-content: left;
    margin-top: -400px;
    margin-left: -250px;
  }
  .chevron {
    margin-left: 20px;
  }
  .company-report-name {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    height: 46px;
    width: 427.2080078125px;
    left: 642.7412109375px;
    top: 169.65625px;
    color: #314c74;
    margin-top: 3px;
    margin-left: 20px;
  }
  .info-block {
    height: 171.09292602539062px;
    width: 1077.1351318359375px;
    left: 299.943359375px;
    top: 263.57275390625px;
    border-radius: 15px;
    background-color: #dfe3ea;
  }
  .report-prop {
    height: 22.0791015625px;
    width: 197.63427734375px;
    left: 334.97412109375px;
    top: 297.52197265625px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #717171;
  }
  .input-report-prop {
    height: 28.689281463623047px;
    width: 497.80096435546875px;
    left: 334.97412109375px;
    top: 382.7646484375px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #717171;
  }
  .download-csv {
    height: 30.381864547729492px;
    width: 130.93368530273438px;
    left: 1215.1025390625px;
    top: 289.8447265625px;
    border-radius: 6px;
    background-color: #6f83a5;
    border: 0px;
    color: white;
  }
  .report-editor-tools {
    height: 83.36266326904297px;
    width: 1077px;
    left: 299.76953125px;
    top: 494.64306640625px;
    background-color: #dfe3ea;
    border-radius: 12px 12px 0px 0px;
    margin-left: -250px;
  }
  .gen-draft {
    height: 29.232547760009766px;
    width: 130.93368530273438px;
    left: 1215.1025390625px;
    top: 522.40625px;
    border-radius: 6px;
    border: 0px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
  }
  .report-view {
    height: 643.8424682617188px;
    width: 1077px;
    left: 299.771484375px;
    top: 578.02978515625px;
    background: #e9ebef;
    border-radius: 0px 0px 12px 12px;
    margin-left: -250px;
  }
  .audit-log-link {
    text-align: left;
    margin-left: 35px;
    margin-top: 30px;
  }
  #auditLogLabel {
    height: 32.094635009765625px;
    width: 394.2548828125px;
    margin-top: 23.52px;
    margin-left: 35.84;
    border-radius: nullpx;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #314c74;
  }
  #audit-modal-header {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    
  }
  #audit-modal-body {
    margin-top: -20px;
    height: 220px;
  }
  .log-rec {
    display: flex;
    flex-direction: row;
    flex: 100%;
    margin-left:15px;
    
  }
  .log-col-header{
    width: 33%;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color:#717171;
  }
  .log-col {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    opacity: 70%;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color:#7D7E8C;
    width: 33%;
    left: 35.84765625px;
    top: 148.4990234375px;
  }
  .modal-btm {
      margin-left: 315px;
      margin-bottom: 25.24px;
  }
  .close-btn {
    height: 30.382007598876953px;
    width: 155.93359375px;
    left: 489.51171875px;
    top: 430.89404296875px;
    border-radius: 12px;
    color: #314C74;
    background-color: #ffffff;
    border: 2px solid #8FA3C1;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 11px;
    letter-spacing: 0em;
    text-align: center;
    padding: 10px;
  }
  .pdf-toggle{
    margin-top: -35px;
    display: flex;
    flex-direction: row;
    margin-left: 250px;
  }
  .page-box {
    height: 33px;
    width: 34.73114013671875px;
    border-radius: 6px;
    border: 1px solid #61616133;
    background-color: white;
    margin-top: -7px;
    margin-left: 6px;
    padding: 8px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color:#717171;
  }
  .page-wordings {
    height: 31px;
    width: 34.73114013671875px;
    left: 691.7294921875px;
    top: 521.46875px;
    border-radius: nullpx;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color:#717171;
    margin-top: 2px;
  }

  .pdfViewerObj {
    height: 577.308837890625px;
    width: 1015.1979370117188px;
    left: 329.859375px;
    top: 638.140625px;
    border-radius: 0px;
    margin-top: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .page-button {
    margin-bottom: 120px;
    padding-top: 0;
    border: 0px;
    background-color: #dfe3ea;
  }

  #warningModal{
    margin-top: 200px;
    display: block;
    width: 900px;
    height: 500px;
    margin-left: 200px;
  }

  #changedTemplate{
    margin-top: 200px;
    display: block;
    width: 900px;
    height: 500px;
    margin-left: 200px;
    display: none;
  }

  #infoModal{
    margin-top: 200px;
    display: block;
    width: 900px;
    height: 500px;
    margin-left: 200px;
    display: none;
  }

  #warning-modal-title {
    color: #ffffff;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 10px;
    letter-spacing: 0em;
    text-align: left;
    height: 117.37568664550781px;
    width: 377.98834228515625px;
    margin-top: 110px;
  }
  .warning-btn {
    height: 30.382007598876953px;
    width: 233.900390625px;
    left: 153.533447265625px;
    top: 328.25390625px;
    border-radius: 12px;
    border: 2px solid #de7777;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 11px;
    letter-spacing: 0em;
    text-align: center;
    color: #B24141;
    text-align: center;
    background-color: #FFFFFF;
    padding:8px;
  }

  .btm-btn {
    display: flex;
    flex-direction: row;
    margin-left:160px
  }

  #err-blk {
    display: none;
    flex-direction: column;
    justify-content: right;
    margin-left: 800px;
    margin-top: 10px;
    position: absolute;
  }
  .err-msg {
    height: 52px;
    width: 259.344970703125px;
    border-radius: 15px;
    border: 3px solid #e2c6c6;
    background-color: #efe2e2;
    color: #d63636;
    font-family: Poppins;
    font-size: 8px;
    font-weight: 600;
    line-height: 11px;
    letter-spacing: 0em;
    padding: 10px;
  }

  .edit-info {
    font-family: Poppins;
    font-size: 11px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    font-family: Poppins;
    font-size: 11px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #718FBF;
    flex: 60%;
    text-decoration: underline;
  }


.btn-btn-secondary-dropdown-toggle, .batch-selection {
  width: 605.33px;
  height: 30.38px;
  float: right;
  border-radius: 6px;
  background-color: #f2f2f266;
  border: 1px solid #61616133;
  color: #717171;
  font-family: Poppins;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  font-size: 14px;
  text-align: left;
  padding: 5px;
}

#reportTitle {
    height: 30.38px;
    width: 605.33px;
    border-radius: 6px;
    float: right;
    border: 1px solid #61616133;
    background-color: #f2f2f266;
    letter-spacing: 0em;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #717171;
    padding:5px;
  }



  .dropdown-options {
    text-align: left ;
    color: black;
  }
  .search-field_input {
    height: 30.38px;
    width: 605.33px;
    font-size: 12px;
    background-color: #f2f2f266;
    border: 1px solid #61616133;
    box-shadow: none;
    -webkit-appearance: none;
    border-radius: 6px;
  }

  .new-batch-selector-added {
    padding-top: 5px;
    width: 600.33px;
    padding-left: 5px;
  }
  


  ul, li {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}


  /*Dropdown button for corporate ID*/
  .dropbtn {
    height: 30.38px;
    width: 605.33px;
    font-size: 12px;
    background-color: #f2f2f266;
    border: 1px solid #61616133;
    box-shadow: none;
    -webkit-appearance: none;
    border-radius: 6px;
}

/* The search field */
#myInput {
  box-sizing: border-box;
  height: 30.38px;
  width: 605.33px;
  background-repeat: no-repeat;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  font-size: 13px;
}

#selected-id-display {
    font-family: Poppins;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #717171;
    border-radius: nullpx;
    padding:5px;
    font-size: 14px;
  }
  

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
    text-align: left;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
  
  .corp-id-display {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #717171;
  }
  #corpIdDropdown {
    height: 200px;
    overflow:scroll;
  }
  
  .form-label {
    text-align: left;
    margin-left: -15px;
    color: #717171;
    font-size: 12px;
    font-weight: 700;
    line-height: 13.55px;
    font: Poppins;
  }

  .form-label-ctn {
    display: flex;
    align-items: center;
    margin-left: 20px;
    height: 32.09px;
  }

  .searchbutton {
    padding: 10px;
  }

  .searchbaricon {
    right: 2px;
    top: 5px;
    position: absolute;
    color: #A1A1A1;
    font-size: 20px;
  }

  .add-batch-btn {
  background-color: #AAAAAA;
  color: white;
  border-radius: 6px;
  border:0px;
  position: absolute;
  width: 609.33px;
  height: 30.38px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  margin-left:-306px;
  }

</style>

<script>

  var pageCount = 1
  $(document).ready(function() {
    console.log('pdf gen status')
    console.log('{{pdf_gen_error}}')
    console.log('{{pdf_gen_error}}' == 'True')
    if ('{{pdf_gen_error}}' == 'True') {
      $("warningModal").modal('show')
    } else {
    prepPdfViewer();
    popFields();
    }
  })

  function prepPdfViewer() {
    var newUrl = '{{pdf_path}}#page=' + pageCount.toString()
    var objectEl = document.getElementById('pdfViewerObj');
    objectEl.setAttribute('data', newUrl)
    objectEl.outerHTML = objectEl.outerHTML.replace(/data="(.+?)"/, 'data="' + newUrl + '"');
  }

  function popFields() {
    document.getElementById('corp-name').innerHTML = '{{corp_name}}'.replace('&amp;', '&')
    document.getElementById('corp-report-title').innerHTML = '{{corp_report_title}}'
    document.getElementById('corp-report-type').innerHTML = '{{corp_report_type}}'
    document.getElementById('corp-report-batches').innerHTML = '{{corp_report_batches}}'
    document.getElementById('page-count-display').innerHTML = '{{num_pages}}'
  }

  function increasePgCount() {
      if (pageCount >= parseInt('{{num_pages}}')) {
        return
      }
      pageCount += 1
      document.getElementById('currPageNumber').innerHTML = pageCount
      prepPdfViewer()
  }

  function decreasePgCount() {
      if (pageCount > 1) {
        pageCount -= 1
      document.getElementById('currPageNumber').innerHTML = pageCount
      prepPdfViewer()
      }
  }

  function closeWarningModal() {
    document.getElementById('warningModal').style.display = 'none';
  }

  function closeTemplateModal() {
    document.getElementById('changedTemplate').style.display = 'none';
  }

  function downloadCSVAbort() {
    console.log('download csv and abort called')
    window.location.href="invalidGeneration"


  }

  function downloadCSVProceed() {
    console.log('download csv and proceed called')
    document.getElementById('warningModal').style.display = 'none';
    document.getElementById('err-blk').style.display = 'block';
    prepPdfViewer();
    popFields();
  }

  var initial_template_idx = 1
  var selected_template = 1
  function selectTemplateType() {
    var selectBox = document.getElementById("templateTypeSelection");
    var selectedValue = selectBox.options[selectBox.selectedIndex].value;
    selected_template = selectedValue
    console.log('template type is')
    console.log(selected_template)
  };

  function regenPDF() {
    console.log(initial_template_idx)
    console.log(selected_template)
    if (selected_template != initial_template_idx) {
      document.getElementById('changedTemplate').style.display = 'block';
    } else {
      window.location.href="../healthReportInfo"
    }
  }

  function proceedChanges() {
    window.location.href="../healthReportInfo"
  }

  function openInfoModal() {
    document.getElementById('infoModal').style.display = 'block';
  }

  function closeInfoModal() {
    document.getElementById('infoModal').style.display = 'none';
  }

  function openCustomReportModal() {
    document.getElementById('infoModal').style.display = 'none';
    prep_modal();
    document.getElementById('customInfoModal').style.display = 'block';
  }

  function closeCustomReportModal() {
    document.getElementById('customInfoModal').style.display = 'none';
  }

  // functions for the custom report modal
  //variables
  var number_batches = '{{nBatches}}'
  var corp_name = ""
  var corp_id = ""
  var report_title = ""
  var report_type = ""
  var report_template = ""
  var batches_to_include = []
  var corp_index_selected = 0

  //global variables used for modal
  //number of times user can click 'add new batch', max is the number of batches existing
  var available_dropdowns_to_add = 0

  function displayActionDropdown() {
    let actionDropdown = document.getElementById("actionDropdown")
    if (actionDropdown.style.display == "none") {
      actionDropdown.style.display = "block";
    } else {
      actionDropdown.style.display = "none"
    }
  };


  function addNewBatch() {
    console.log('addNewBatch() called')
    console.log(number_batches)
    number_batches = parseInt(number_batches)
    number_batches += 1;
    console.log(number_batches)
    var formData  = new FormData()
    formData.append('number_batches', number_batches)
    // axios.post('update_nbatches', formData, {headers: {'X-CSRFToken': 'csrftoken'}})
    // .then(res => console.log(res))
    let req = axios({
		method: 'post',
		url: 'update_nbatches',
		xstfCookieName: 'csrftoken',
		xsrfHeaderName: 'X-CSRFToken',
		data: formData,
		headers: {
			'X-CSRFToken': 'csrftoken'
		}
    }).then((response) => {
      this.msg = response.data;
      console.log('response');
    });

    if (available_dropdowns_to_add > 0) {
      let newSelector = document.getElementById("batch-selector").cloneNode(true)
      newSelector.className = 'new-batch-selector-added'
      let btn = document.createElement("button");
      btn.setAttribute('style', 'border:0px; background-color:#FFFFFF; margin-left:3px; ')
      var delete_icon = document.createElementNS("http://www.w3.org/2000/svg", "svg")
      delete_icon.setAttribute('width', '16')
      delete_icon.setAttribute('height', '16')
      delete_icon.setAttribute('fill',' #D63636')

      var path1 = document.createElementNS("http://www.w3.org/2000/svg", 'path')
      var path2 = document.createElementNS("http://www.w3.org/2000/svg", 'path')

      delete_icon.appendChild(path1)
      delete_icon.appendChild(path2)

      path1.setAttribute('d', "M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z")
      path2.setAttribute('d', "M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z")
      btn.appendChild(delete_icon)

      btn.type = "button"
      btn.onclick = function() {
        return del_batch_selector(this)

        //this.parentElement.parentElement.parentElement.removeChild(this.parentElement.parentElement)
      }
      newSelector.childNodes[1].appendChild(btn)
      let element = document.getElementById("batch-ctn")
      let height = document.querySelector("#batch-selector").offsetHeight
      let modalHeight = document.querySelector('.modal-content').offsetHeight
      document.getElementsByClassName("modal-content")[0].style.height = modalHeight + height + 5 +'px'
      element.appendChild(newSelector)
      available_dropdowns_to_add -= 1
    }
    return;
  }  
  
  function del_batch_selector(ele) {
    ele.parentElement.parentElement.parentElement.removeChild(ele.parentElement.parentElement)
    const height_of_selector = document.getElementById('batch-selector').offsetHeight
    const modalHeight = document.querySelector('.modal-content').offsetHeight
    document.getElementsByClassName("modal-content")[0].style.height = (modalHeight - height_of_selector - 5) + 'px'
    event.stopPropagation()
    available_dropdowns_to_add += 1
    return false;
  }

  function check_modal_page_two_input() {
    corp_template = document.getElementById('reportTemplateSelection')
    flag = true
    console.log(corp_template.value)
    if (corp_template.value == "") {
      document.getElementById('corp-template-check').style.display= 'block'
      flag = false
    }
    else {
      document.getElementById('corp-template-check').style.display= 'none'
    }
    return flag
  }

  function check_modal_page_one_input() {
    corp_name_selected = document.getElementById('selected-id-display')
    corp_title = document.getElementById('reportTitle')
    corp_type = document.getElementById('reportTypeSelection')
    console.log(corp_type.value)
    flag = true
    if (corp_name_selected.innerHTML == "") {
      document.getElementById('corp-name-check').style.display= 'block'
      flag = false
    }
    else {
      document.getElementById('corp-name-check').style.display= 'none'
    }
    if (corp_title.value == "") {
      document.getElementById('corp-title-check').style.display= 'block'
      flag = false
    }
    else {
      document.getElementById('corp-title-check').style.display= 'none'
    }
    if (corp_type.value == "") {
      document.getElementById('corp-type-check').style.display= 'block'
      flag = false
    }
    else {
      document.getElementById('corp-type-check').style.display= 'none'
    }
    return flag
  }
  
  function prep_modal() 
    {
      $(".modal").each(function() {

      var element = this;
      var pages = $(this).find('.modal-split');

      if (pages.length != 0)
      {
          pages.hide();
          pages.eq(0).show();

          var c_button = document.createElement("button");
                    c_button.setAttribute("type","button");
                    c_button.setAttribute("class","btn btn-light");
                    c_button.setAttribute("style", "margin-right:10px;width: 155.93px; height: 30.38px; background-color: white;border-color: #8fa3c1;border-radius: 12px;color: #314c74; font: Poppins;font-weight: 600;font-size: 14px;line-height: 10.99px;align-items: center;");
                    c_button.setAttribute("data-bs-dismiss" , "modal");
                    c_button.setAttribute("onclick", "location.href=''");
                    c_button.innerHTML = "Cancel";

          var n_button = document.createElement("button");
                    n_button.setAttribute('ID', 'next-btn')
                    n_button.setAttribute("type","button");
                    n_button.setAttribute("class","btn btn-light");
                    n_button.setAttribute("style", " width: 155.93px;height: 30.38px; background-color: white;border-color: #8fa3c1;border-radius: 12px; color: #314c74; font: Poppins; font-weight: 600;font-size: 14px; line-height: 10.99px;align-items: center;");
                    n_button.innerHTML = "Next";

          var cfm_button = document.createElement("button");
                    cfm_button.setAttribute('ID', 'cfm-btn')
                    cfm_button.setAttribute("type","button");
                    cfm_button.setAttribute("class","btn btn-light");
                    cfm_button.setAttribute("style", " width: 155.93px;height: 30.38px; background-color: white;border-color: #8fa3c1;border-radius: 12px; color: #314c74; font: Poppins; font-weight: 600;font-size: 14px; line-height: 10.99px;align-items: center;");
                    cfm_button.innerHTML = "confirm";
                    cfm_button.style.marginLeft='180px'
                    cfm_button.style.marginBottom="200px"
                    cfm_button.style.display= "none"
          
          $(this).find('.modal-btm').append(c_button).append(n_button);


          var page_track = 0;

          $(n_button).click(function() {
            
            this.blur();

            if(page_track == 0)
            {
              $(c_button).show();
            }

            if(page_track == pages.length-2)
            {
              can_progress = check_modal_page_one_input()
              // n_button.style.display= "none"
              // cfm_button.style.display = "block"
              // c_button.style.marginTop='300px' 
              // c_button.style.marginRight="200px"
              // n_button.setAttribute('href', "{% url 'healthReportInfo'%}");
            }
            if (page_track == pages.length-1){
                can_progress = check_modal_page_two_input()
                console.log('audit log id')
                console.log('{{audit_log_id}}')
                
                console.log(logid)
                if (can_progress) {
                  var collated_batches = collate_batches_selected()
                  var batches_to_include = collated_batches[0]
                  var batches_to_include_idx = collated_batches[1]
                  var corporate_batches_objIds = {{corporate_batches_ids|safe}}
                  batch_object_ids = get_selected_batch_objIds(batches_to_include_idx, corporate_batches_objIds, corp_index_selected)
                  var formData  = new FormData()
                  formData.append('corp_name', corp_name)
                  formData.append('report_title', report_title)
                  formData.append('report_type', report_type)
                  formData.append('report_template', report_template)
                  formData.append('batches_to_include', batches_to_include)
                  formData.append('clinic_personnel', "Linda Tay")
                  formData.append('idx_selected', corp_index_selected)
                  formData.append('batches_to_include_obj_ids', batch_object_ids)
                  console.log('at first post')
                  var logid = '{{audit_log_id}}'
                  console.log("logid is")
                  console.log(logid)
                  console.log("log id type is")
                  console.log(typeof(logid))
                  formData.append('audit_log_id', logid)
                  let req = axios({
                  method: 'post',
                  url: 'sendNewReportSelection',
                  xstfCookieName: 'csrftoken',
                  xsrfHeaderName: 'X-CSRFToken',
                  data: formData,
                  headers: {
                    'X-CSRFToken': 'csrftoken'
                  }
                  }).then((response) => {
                    console.log('response')
                    window.location.href="../healthReportInfo"
                  });
                }
            }
            if(page_track <= pages.length-2)
            {
              if (can_progress) {
                report_title = document.getElementById('reportTitle').value
                n_button.innerHTML = "Confirm"
                page_track++;

                pages.hide();
                pages.eq(page_track).show();
              }
            }
          });

          $(c_button).click(function() {
            if(page_track > 0)
            {
              page_track--;

              pages.hide();
              pages.eq(page_track).show();
            }
            
          });

          $(cfm_button).click(function() {
          });
        };

      });
    }

  function showIdDropdown() {
    document.getElementById("corpIdDropdown").classList.toggle("show");
  }

  function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("corpIdDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
      txtValue = a[i].textContent || a[i].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        a[i].style.display = "";
      } else {
        a[i].style.display = "none";
      }
    }
  }
  

  function selectID(idx) {
    document.getElementById("corpIdDropdown").classList.toggle("show");
    var corp_ids = '{{corporate_names}}'
    console.log(corp_ids)
    corp_ids = corp_ids.replace(new RegExp("&"+"#"+"x27;", "g"), "")
    corp_ids = corp_ids.replace("[", "")
    corp_ids = corp_ids.replace("]", "")
    corp_ids = corp_ids.replace(" ", "")
    var corp_ids_arr = corp_ids.split(',');
    console.log(corp_ids_arr)
    var id_selected = corp_ids_arr[idx-1]
    corp_name = corp_ids_arr[idx-1]
    corp_index_selected = idx-1
    console.log('index selected:', idx-1)
    console.log(id_selected)
    document.getElementById("selected-id-display").innerHTML = id_selected;
    var corp_batches = {{ corporate_batches|safe }}
    corp_batches_arr = corp_batches[idx-1]
    available_dropdowns_to_add = corp_batches_arr.length - 1
    var select = document.getElementById("batchSelection");

    const batch_selectors_added = document.getElementsByClassName("new-batch-selector-added");
    if (batch_selectors_added.length > 0) {
      const num_batch_selectors_added = batch_selectors_added.length
      const height_of_selector = document.getElementById('batch-selector').offsetHeight
      const height_to_remove = (height_of_selector + 5) * num_batch_selectors_added
      const modalHeight = document.querySelector('.modal-content').offsetHeight
      document.getElementsByClassName("modal-content")[0].style.height = (modalHeight - height_to_remove) + 'px'
      removeElementsByClass(batch_selectors_added) 
    }
    removeOptions(select)
    for (i = 0; i < corp_batches_arr.length; i++) {
      var option = document.createElement("option");
      option.text = corp_batches_arr[i];
      option.value = corp_batches_arr[i];
      select.appendChild(option);
    }
  }

  function collate_batches_selected() {
    batches_to_include = []
    batches_to_include_idx = []
    var permanent_select_box = document.getElementById("batchSelection");
    var selectedValue = permanent_select_box.value;
    selectedValue = selectedValue.replaceAll("'", '"')
    batches_to_include.push(selectedValue)
    batches_to_include_idx.push(permanent_select_box.selectedIndex)

    var new_selector_dropdowns = document.getElementsByClassName("new-batch-selector-added")
    for (i=0; i< new_selector_dropdowns.length; i++) {
      var selectedValue = new_selector_dropdowns[i].childNodes[1].childNodes[1].value
      var selectedIndex = new_selector_dropdowns[i].childNodes[1].childNodes[1].selectedIndex
      batches_to_include.push(selectedValue)
      batches_to_include_idx.push(selectedIndex)
    }

    //get unique values from each array in case user selects multiple 
    batches_to_include = [... new Set(batches_to_include)]
    batches_to_include_idx = [... new Set(batches_to_include_idx)]
    return [batches_to_include, batches_to_include_idx]

  }
  // takes in the index of batches selected eg (0, 2, 4) 
  // takes in stringified list of object ids 
  // takes in index of corp name selected
  // maps index of batch to its object id
  function get_selected_batch_objIds(idx_arr, corp_batches_id_arr, corp_index) {
    //get object ids specific to the selected corporate
    corp_batches_ids = corp_batches_id_arr[corp_index]
    object_ids = []
    for (i=0; i<idx_arr.length; i++) {
      object_ids.push(corp_batches_ids[idx_arr[i]])
    }
    return object_ids
  } 


  function selectReportType() {
    var selectBox = document.getElementById("reportTypeSelection");
    var selectedValue = selectBox.options[selectBox.selectedIndex].value;
    report_type = selectedValue
  };

  function selectTemplate() {
    var selectBox = document.getElementById("reportTemplateSelection");
    var selectedValue = selectBox.options[selectBox.selectedIndex].value;
    report_template = selectedValue
  };


  function removeElementsByClass(elements){
    while(elements.length > 0){
        elements[0].parentNode.removeChild(elements[0]);
    }
}

  function removeOptions(select) {
    if (select != null) {
      for (a in select.options) { select.options.remove(0); }
    }
  }
</script>

<div style="display: flex; flex-direction: column;">
  <div class="top-ctn">
    <div>
      <div class="breadcrumb" style="padding-top: 10rem;">
        <span class="dashboard-icon material-symbols-outlined text-blue-01">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-folder-plus"
            viewBox="0 0 16 16"
            color="#314C74"
          >
            <path
              d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z"
            />
            <path
              d="M13.5 10a.5.5 0 0 1 .5.5V12h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V13h-1.5a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"
            />
          </svg>
        </span>
        <li class="header">
          Corporate Health Screening Report
          <a href="/"></a>
        </li>
        <p class="chevron">
          <span class="material-symbols-outlined">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-chevron-right"
              viewBox="0 0 16 16"
              color="#314C74"
            >
              <path
                fill-rule="evenodd"
                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
              />
            </svg>
          </span>
        </p>
        <div class="company-report-name">
          SIA Corporate Health Report II (2021)
        </div>
      </div>
    </div>
    <div style="display: flex; flex-direction:row">
      <p class="info-heading">
        Corporate Health Report Info
      </p>
      <href class="edit-info" onclick="openInfoModal()">Edit</href>
    </div>
    <div
    class="modal"
    id="infoModal"
    tabindex="-1"
    aria-labelledby="infoModalLabel"
    aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header"
          style="
          height: 117.37568664550781px;
          width: 681.9871826171875px;
          background-color: #de7777;">
            <svg xmlns="http://www.w3.org/2000/svg" width="46.41" height="40" fill="white" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16"
            style="margin: 38.01px 74.66px 35.37px 69.41px;">
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            <h5 class="modal-title" id="warning-modal-title">Warning: This cannot be undone.</h5>
            <button
              type="button"
              class="btn-close btn-close-white"
              data-bs-dismiss="modal"
              onclick="closeInfoModal()"
              aria-label="Close"
              style="margin-right: 10px; margin-top:-35px; height:13.12px; color: white; opacity: 1;"
            ></button>
          </div>
          <div class="modal-body" style="height: 284.62px; width: 682px;border-radius: 0 0 15px 15px; background-color: #ffffff;">
            <div class="modal-text" style="
            color: #de7777;
            height: 143.82505798339844px;
            width: 470.2766723632812px;
            left: 65.78125px;
            top: 202.16015625px;
            text-align: left;
            margin-top: 50px;
            margin-left: 100px;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;">
              Changing the Corporate Health Report Info create new changes to this document. Are you sure you want to proceed?
            </div>
            <div class="btm-btn">
              <button type='button' class="warning-btn" onclick="closeInfoModal()">
                Cancel
              </button>
              <div style="width: 11.78px;"></div>
              <button type='button' class="warning-btn" onclick="openCustomReportModal()">
                Proceed
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="info-block"
      style="display: flex; flex: 100%; flex-direction: row;"
    >
      <div
        style="
          width: 45%;
          display: flex;
          flex-direction: column;
          margin-top: 33.95px;
          margin-left: 33.05px;
        "
      >
        <div style="height: 50%; display: flex; flex-direction: column;">
          <p class="report-prop">Corporate Name (ID)</p>
          <p class="input-report-prop" id="corp-name"></p>
        </div>
        <div style="height: 50%; display: flex; flex-direction: column;">
          <p class="report-prop">Corporate Health Report Title</p>
          <p class="input-report-prop" id="corp-report-title"></p>
        </div>
      </div>
      <div
        style="
          width: 45%;
          display: flex;
          flex-direction: column;
          margin-top: 33.95px;
          margin-left: 33.05px;
        "
      >
        <div style="height: 50%; display: flex; flex-direction: column;">
          <p class="report-prop">Report Type</p>
          <p class="input-report-prop" id="corp-report-type"></p>
        </div>
        <div style="height: 50%; display: flex; flex-direction: column;">
          <p class="report-prop">Batches included in Corporate Report</p>
          <p class="input-report-prop" style="text-decoration: underline;" id="corp-report-batches">
          </p>
        </div>
      </div>
      <div style="width: 10%; margin-top: 25px; margin-left: -120px;">
        <button class="download-csv" onclick="downloadCSV()">
          <p
            style="
              font-family: Poppins;
              font-size: 12px;
              font-weight: 600;
              line-height: 14px;
              letter-spacing: 0em;
              text-align: center;
              justify-content: center;
              margin-top: 6px;
            "
          >
            Download CSV
          </p>
        </button>
      </div>
    </div>
  </div>
  <div style="height: 59.98px;"></div>
  <div class="report-editor-tools">
    <div
      style="
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 5px;
      "
    >
      <div style="width: 55%; padding: 30px;">
        <p
          style="
            font-family: Poppins;
            font-size: 20px;
            font-weight: 600;
            line-height: 14px;
            letter-spacing: 0em;
            text-align: left;
            color: #314c74;
          "
        >
          Report PDF
        </p>
        <div class="pdf-toggle">
          <button class="page-button" onclick="decreasePgCount()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#A1A1A1" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
              <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
            </svg>
          </button>
          <div id='currPageNumber' class="page-box">
            1
          </div>
          <p class="page-wordings">of</p>
          <p id="page-count-display" class="page-wordings"></p>
          <button class="page-button" onclick="increasePgCount()" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#A1A1A1" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
              <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
            </svg>
          </button>
        </div>
      </div>
      <div
        style="
          width: 45%;
          display: flex;
          flex-direction: row;
          margin-top: 20px;
        "
      >
        <div>
          <select
            class="btn btn-secondary dropdown-toggle"
            aria-label="Default select example"
            id = 'templateTypeSelection'
            onchange="selectTemplateType()"
            style="
              height: 30.381864547729492px;
              width: 130.94744873046875px;
              left: 942.1669921875px;
              top: 521.82421875px;
              border-radius: 6px;
              border: 2px solid #6f83a5;
              background: linear-gradient(0deg, #e8ebef, #e8ebef);
              color: #60769c;
              font-family: Poppins;
              font-size: 12px;
              font-weight: 600;
              line-height: 14px;
              letter-spacing: 0em;
              text-align: left;
            "
          >
            <option style="text-align: center;" value="1">Template I</option>
            <option style="text-align: center;" value="2">Template II</option>
            <option style="text-align: center;" value="3">Template III</option>
            <option style="text-align: center;" value="4">Template IV</option>
          </select>
        </div>
        <div style="margin-left: 5.51px;">
          <button
            class="gen-draft"
            style="background-color: #6f83a5; opacity: 0.5;"
          >
            Email Report
          </button>
        </div>
        <div style="margin-left: 5.51px;">
          <button class="gen-draft" style="background-color: #6f83a5;" onclick="regenPDF()">
            Regenerate PDF
          </button>
          <div
            class="modal"
            id="changedTemplate"
            tabindex="-1"
            aria-labelledby="changedTemplateLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header" style="
                height: 117.37568664550781px;
                width: 681.9871826171875px;
                background-color: #de7777;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="46.41" height="40" fill="white" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16"
                  style="margin: 38.01px 74.66px 35.37px 69.41px;">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                  </svg>
                  <h5 class="modal-title" id="warning-modal-title">Warning: This cannot be undone.</h5>
                  <button
                    type="button"
                    class="btn-close btn-close-white"
                    data-bs-dismiss="modal"
                    onclick="closeTemplateModal()"
                    aria-label="Close"
                    style="margin-right: 10px; margin-top:-35px; height:13.12px; color: white; opacity: 1;"
                  ></button>
                </div>
                <div class="modal-body" style="height: 284.62px; width: 682px;border-radius: 0 0 15px 15px; background-color: #ffffff;">
                  <div class="modal-text"
                  style="color: #de7777;
                  height: 143.82505798339844px;
                  width: 470.2766723632812px;
                  left: 65.78125px;
                  top: 202.16015625px;
                  text-align: left;
                  margin-top: 50px;
                  margin-left: 100px;
                  font-family: Poppins;
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 22px;
                  letter-spacing: 0em;
                  text-align: left;">
                    Changing the Report Template or Reporting Units create new changes to this document. Are you sure you want to proceed?
                  </div>
                  <div class="btm-btn">
                    <button type='button' class="warning-btn" onclick="closeTemplateModal()">
                      Cancel
                    </button>
                    <div style="width: 11.78px;"></div>
                    <button type='button' class="warning-btn" onclick="proceedChanges()">
                      Proceed
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="margin-left: 20.51px; margin-top: 3px;">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-chevron-down"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="report-view">
    <div id="err-blk">
      <div
        style="
          height: 20.21514892578125px;
          width: 271.31256103515625px;
          left: 1055.45703125px;
          top: 601.640625px;
          font-family: Poppins;
          font-size: 10px;
          font-weight: 400;
          line-height: 12px;
          letter-spacing: 0em;
          text-align: right;
          color: #d63636;
          margin-left: -14px;
        "
      >
        Invalid input(s) found.
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="11"
          height="11"
          fill="red"
          class="bi bi-exclamation-circle"
          viewBox="0 0 16 16"
          style="margin: 0 0 3px 3px;"
        >
          <path
            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
          />
          <path
            d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"
          />
        </svg>
      </div>
      <div class="err-msg">
        This draft report is generated with invalid input(s). Please refer to
        the CSV and correct data in the system
      </div>
    </div>
    <div
      class="modal"
      id="warningModal"
      tabindex="-1"
      aria-labelledby="warningModalLabel"
      aria-hidden="true"
      >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header"
          style="
          height: 117.37568664550781px;
          width: 681.9871826171875px;
          background-color: #de7777;">
            <svg xmlns="http://www.w3.org/2000/svg" width="46.41" height="40" fill="white" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16"
            style="margin: 38.01px 74.66px 35.37px 69.41px;">
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            <h5 class="modal-title" id="warning-modal-title">Error Warning</h5>
            <button
              type="button"
              class="btn-close btn-close-white"
              data-bs-dismiss="modal"
              onclick="closeWarningModal()"
              aria-label="Close"
              style="margin-right: 10px; margin-top:-35px; height:13.12px; color: white; opacity: 1;"
            ></button>
          </div>
          <div class="modal-body" style="height: 284.62px; width: 682px;border-radius: 0 0 15px 15px; background-color: #ffffff;">
            <div class="modal-text" style="
            color: #de7777;
            height: 143.82505798339844px;
            width: 470.2766723632812px;
            left: 65.78125px;
            top: 202.16015625px;
            text-align: left;
            margin-top: 50px;
            margin-left: 100px;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;">
              There are some fields with invalid and/or missing data. Please
              check the CSV and make changes to the respective fields in the
              system.
            </div>
            <div class="btm-btn">
              <button type='button' class="warning-btn" onclick="downloadCSVAbort()">
                Download CSV and Abort
              </button>
              <div style="width: 11.78px;"></div>
              <button type='button' class="warning-btn" onclick="downloadCSVProceed()">
                Download CSV and Proceed
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="audit-log-link">
      <a
        data-bs-target="#auditLog"
        data-bs-toggle="modal"
        style="
          font-family: Poppins;
          font-size: 10px;
          font-weight: 600;
          line-height: 12px;
          letter-spacing: 0em;
          text-align: left;
          color: #7788a3;
          text-decoration: underline;
        "
      >
        Last PDF generated: {{latest_generated_by}} {{latest_generated_timestamp}}
      </a>
      <div
        class="modal fade"
        id="auditLog"
        tabindex="-1"
        aria-labelledby="auditLogLabel"
        aria-hidden="true"
        style="
        margin-top: 300px;
        height: 500.32px;
        width: 681.99px;
        margin-left:300px;"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header border-0" id="audit-modal-header">
              <div style="display: flex; flex-direction: row;">
                <p class="modal-title" id="auditLogLabel">
                  Report PDF
                </p>
                <button
                  type="button"
                  class="btn-close btn-close-white"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  style="
                    margin-right: 10px;
                    margin-top: 12px;
                    height: 13.12px;
                    opacity: 0.3;
                    font-weight: 3.02px solid;
                  "
                ></button>
              </div>
              <div style="text-align: left; float: left;">
                <p
                  style="
                    font-family: Poppins;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 14px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #717171;
                    height: 32.094635009765625px;
                    width: 289.3226623535156px;
                    top: 69.244140625px;
                    border-radius: nullpx;
                    margin-left: -145px;
                    margin-top: 5px;
                    padding: 0px;
                  "
                >
                  Audit Trail
                </p>
              </div>
              <hr style="
              background: linear-gradient(0deg, rgba(97, 97, 97, 0.3), rgba(97, 97, 97, 0.3)), linear-gradient(0deg, rgba(196, 196, 196, 0), rgba(196, 196, 196, 0));
              border: 1px solid #6161614D;
              width: 460.62109375px;
              left: 35.84765625px;
              top: 109.96875px;
              border-radius: 0px;
              margin-top: -15px;
              "></hr>
            </div>
            <div class="modal-body" id="audit-modal-body">
              <div class="log-rec">
                <div class="log-col-header">
                  Date & Time:
                </div>
                <div class="log-col-header">
                  Action:
                </div>
                <div class="log-col-header">
                  User:
                </div>
              </div>
              <div>
                <div style="height: 10px;"></div>
                {% for info in log_info %}
                  <div class="log-rec">
                    <div class="log-col">
                        {{info.0}}
                    </div>
                    <div class="log-col">
                        {{info.1}}
                    </div>
                    <div class="log-col">
                        {{info.2}}
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="modal-btm">
                <button class="close-btn" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <object class="pdfViewerObj" id='pdfViewerObj' type="application/pdf">
    </object>
  </div>

  <!--MODAL TO EDIT CORPORATE INFO-->
  <div class="modal" data-bs-backdrop="static" data-bs-keyboard="false" id="customInfoModal" tabindex="-1" aria-hidden = "true" aria-labelledby="myModalLabel" style="overflow:scroll">
    <div class="modal-dialog">  
      <div class="modal-content" style="width: 681.99px; height: 500.32px; border-radius: 20px;">
        <div style="margin-right: 10px; margin-top: 10px;">
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            style="float: right; height: 13.12px; margin-top:10px;margin-right:25px"
            onclick="location.href=''""
          ></button>
        </div>
        <div class="modal-body">
          <div class="modal-split">
            <div class="modal-body">
              <div class="form-label-ctn">
                <p class="form-label">Corporate Name (ID)</p>
                <p style="text-align: left; margin-left: 4px; color: red;">*</p>
                <p id="corp-name-check" style="text-align: left; margin-left: 4px; color: red; font-size: 8px; display: none">select a corporate</p>
              </div>
              <div class="modal-body-ctn">
                <div class="dropdown">
                  <button onclick="showIdDropdown()" class="dropbtn">
                   <p id="selected-id-display"></p>
                    <i class="material-icons-outlined searchbaricon">
                      <svg xmlns="http://www.w3.org/2000/svg" style="margin-right:10px; margin-bottom:12px;" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                      </svg>
                    </i>
                  </button>
                  <div id="corpIdDropdown" class="dropdown-content">
                    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                    <div style="height:10px"></div>
                    {% for corporate_info in corporate_infos %}
                    <ol>
                      <li style="list-style:none">
                        <a class="corp-id-display" onclick="selectID('{{forloop.counter}}')" >{{corporate_info.0}}</a>
                      </li>
                    </ol>
                    {% endfor %} 
                </div>
                <!-- <input class="search-field_input"></input>
                  <div class="relativeposition">
                    <i class="material-icons-outlined searchbaricon">
                      <svg xmlns="http://www.w3.org/2000/svg" style="margin-right:10px; margin-bottom:12px;" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                      </svg>
                    </i>
                  </div> !-->
              </div>
              </div>

              <br>
              <div class="form-label-ctn">
                <p class="form-label">Corporate Health Report Title</p>
                <p style="text-align: left; margin-left: 4px; color: red;">*</p>
                <p id="corp-title-check" style="text-align: left; margin-left: 4px; color: red; display: none; font-size: 8px">specify a title</p>     
              </div>
              <div class="modal-body-ctn" style="display: flex; justify-content: center; align-items: middle;">
                <form action="/your-name/" method="post", autocomplete="off">
                  <input
                    id="reportTitle"
                    type="text"
                    name="reportTitle"
                  />
                </form>
              </div>
              <br>
              <div class="form-label-ctn">
                <p class="form-label">Report Type</p>
                <p style="text-align: left; margin-left: 4px; color: red;">*</p>
                <p id="corp-type-check" style="text-align: left; margin-left: 4px; color: red; display: none; font-size: 8px">specify a type</p>     
              </div>
              <div class="modal-body-ctn">
                <select class="btn-btn-secondary-dropdown-toggle" 
                id = 'reportTypeSelection'
                onchange = 'selectReportType()'
                aria-label="Default select example">
                  <option id='reportType' selected style="text-align: center;"></option>
                  <option class="dropdown-options" value="Report Type 1">Type 1</option>
                  <option class="dropdown-options" value="Report Type 2">Type 2</option>
                  <option class="dropdown-options" value="Report Type 3">Type 3</option>
                </select>
              </div>
              <br>
              <div class="form-label-ctn b">
                <p class="form-label">Batches to include in Corporate Report</p>
                <p style="text-align: left; margin-left: 4px; color: red;">*</p>
              </div>
                <div id="batch-ctn" text>
                  <ul>
                    <li id="batch-selector">
                      <div class="modal-body-ctn" style="display: flex;
                      justify-content: center;
                      align-items: middle;">
                        <select 
                        id = 'batchSelection'
                        class = 'batch-selection'
                        aria-label="Default select example">
                          <option selected style="text-align: center;"></option>
                        </select>
                      </div>
                    </li>
                  </ul>
                </div>
                <div style="height:8.42px"></div>
                <button class="add-batch-btn" onClick="addNewBatch()">
                  <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom:3px" width="12px" height="12px" fill="white" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                  </svg>
                  Add new batch
                </button>
            </div>
            <div style="height: 20px;"></div>
      </div>
      <div class="modal-split">
        <div class="modal-body">
          <div class="form-label-ctn">
            <p class="form-label">Report Template</p>
            <p style="text-align: left; margin-left: 4px; color: red;">*</p>
            <p id="corp-template-check" style="text-align: left; margin-left: 4px; color: red; display: none; font-size: 8px">specify a template</p>     
          </div>
          <div class="modal-body-ctn">
            <select class="btn-btn-secondary-dropdown-toggle" 
            id="reportTemplateSelection"
            onchange="selectTemplate()"
            aria-label="Default select example"
                  >
              <option style="text-align: left;"></option>
              <option class="dropdown-options"; value="Template 1">Template 1</option>
            </select>
          </div>
        </div>
      </div>
        </div>
        <div style="height: 20px;"></div>
        <div class="modal-btm" id="'modal-bottom" style="margin-left: 300.14px;
        margin-bottom: 39.04px;">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
