{% extends 'base.html' %} {% block content %}
<style>
  .bodyHeader {
    position: absolute;
    width: 1003.19px;
    height: 78.3px;
    left: 200.17px;
    top: 190.96px;
  }
  .table-heading {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #617594;
  }
  .settings-btn {
    height: 30.381864547729492px;
    width: 130.93368530273438px;
    border-radius: 6px;
    background-color: #aaaaaa;
    border: 2px solid #11000003;
    flex: right;
    margin-right: -120px;
    margin-top: -20px;
  }
  .bodyHeader button {
    box-sizing: border-box;
    top: 26.84%;
    right: 50px;
    position: absolute;
    background: #aaaaaa;
    border: 2px solid rgba(17, 0, 0, 0.01);
    border-radius: 6px;
    color: red;
  }

  .table {
    position: absolute;
    left: 200px;
    top: 300px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;
    display: flex;
    align-items: center;
  }

  .modal-body-ctn {
    display: flex;
    justify-content: center;
    align-items: middle;
  }

  .search-field_input {
    height: 30.38px;
    width: 609.33px;
    font-size: 14px;
    background-color: #f2f2f266;
    border: 1px solid #61616133;
    box-shadow: none;
    -webkit-appearance: none;
    border-radius: 6px;
  }

  .modal-btm {
    margin-left: 300.14px;
    margin-bottom: 39.04px;
  }

  .form-label {
    text-align: left;
    margin-left: -15px;
    color: #717171;
    font-size: 12px;
    font-weight: 700;
    line-height: 13.55px;
    font: Poppins;
  }
  .btm-btn-text {
    font: Poppins;
    font-weight: 600;
    font-size: 14px;
    line-height: 10.99px;
    align-items: center;
  }
  .form-label-ctn {
    display: flex;
    align-items: center;
    margin-left: 20px;
    height: 32.09px;
  }

  .main {
    height: 884.5703735351562px;
    width: 1203.188232421875px;
    left: 236.2236328125px;
    top: 140.373046875px;
  }

  .page-title {
    height: 14.165586471557617px;
    width: 327.8946533203125px;
    color: #314c74;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 10px;
    margin-left: 20bpx;
  }

  .add-report-ctn {
    height: 32.094635009765625px;
    width: 285.3984375px;
    left: 383.7119140625px;
    top: 319.78125px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #7d7e8c;
    margin-left: 40px;
  }
  .add-report-link {
    text-decoration: underline;
    color: #7d7e8c;
  }
  .add-report-link:hover {
    color: black;
  }
  .add-report {
    height: 53.53135681152344px;
    width: 1077.3070068359375px;
    background-color: #f3f4f7;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #7d7e8c;
  }
  .flex-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .subheader {
    color: #70829d;
  }
  .button3 {
    color: white;
    font-size: 12px;
    font-weight: 600;
    border-radius: 6px;
    border: 0px;
    position: absolute;
    width: 155px;
    height: 30px;
    cursor: pointer;
  }

  .button3:disabled {
    cursor: auto;
    opacity: 0.2;
  }

  .tablerecords {
    border-collapse: collapse;
    width: 100%;
    -webkit-box-shadow: 0px 4px 4px 0px #c4c4c4;
    box-shadow: 0px 4px 4px 0px #c4c4c4;
  }

  .tablerecords thead {
    background-color: #7788a3;
    position: relative;
    height: 52px;
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-200);
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    border-bottom: 3px #ffffff;
  }

  .tablerecords tbody {
    background-color: #f3f4f7;
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-150);
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
  }

  .tablerecords tbody tr {
    border-bottom: 3px #ffffff;
    color: #7d7e8c;
    height: 33px;
  }

  .tablerecords thead td {
    /* color: #000; */
    color: white;
    border-bottom: 3px solid white;
    height: 52px;
  }

  .tablerecords td {
    height: 36px;
    padding: 0px 8px;
    border-bottom: 2px solid white;
    text-align: left;
  }

  .tablerecords td a {
    /* color: blue; */
    color: #314c74;
    text-decoration: underline;
    cursor: pointer;
  }

  /* Checkbox */
  .tablecheckbox {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    width: 5px;
  }

  .tablecheckboxdisabled {
    display: block;
    position: relative;
    cursor: auto;
    font-size: 20px;
    width: 5px;
    opacity: 0.3;
  }

  /* Hide the default checkbox */
  input[type='checkbox'] {
    visibility: hidden;
  }

  /* Creating a custom checkbox
based on demand */
  .tablecheckmark {
    position: absolute;
    top: 5px;
    left: 6px;
    height: 10px;
    width: 10px;
    background-color: #7788a3;
    border-color: #ffffff;
    border-width: 0.5px 0.5px 0.5px 0.5px;
    border-style: solid;
    border-radius: 3px;
  }

  .tablerowcheckmark {
    position: absolute;
    top: 5px;
    left: 6px;
    height: 10px;
    width: 10px;
    background-color: #ffffff;
    border-color: #7d7e8c;
    border-width: 0.5px 0.5px 0.5px 0.5px;
    border-style: solid;
    border-radius: 3px;
  }

  /* Specify the background color to be
shown when hovering over checkbox */
  .tablecheckbox:hover input ~ .tablecheckmark {
    background-color: #7788a3;
    border-color: #ffffff;
    border-width: 0.5px 0.5px 0.5px 0.5px;
    border-style: solid;
    border-radius: 3px;
  }

  /* Specify the background color to be
shown when checkbox is active */
  .tablecheckbox input:active ~ .tablecheckmark {
    background-color: #7788a3;
    border-color: #ffffff;
    border-width: 0.5px 0.5px 0.5px 0.5px;
    border-style: solid;
    border-radius: 3px;
  }

  /* Specify the background color to be
shown when checkbox is checked */
  .tablecheckbox input:checked ~ .tablecheckmark {
    background-color: #7788a3;
    border-color: #ffffff;
    border-width: 0.5px 0.5px 0.5px 0.5px;
    border-style: solid;
    border-radius: 3px;
  }

  /* Checkmark to be shown in checkbox */
  /* It is not be shown when not checked */
  .tablecheckmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  .tablerowcheckmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  /* Display checkmark when checked */
  .tablecheckbox input:checked ~ .tablecheckmark:after {
    display: block;
  }

  .tablecheckbox input:checked ~ .tablerowcheckmark:after {
    display: block;
  }

  /* Styling the checkmark using webkit */
  /* Rotated the rectangle by 45 degree and
        showing only two border to make it look
        like a tickmark */
  .tablecheckbox .tablecheckmark:after {
    left: 4px;
    bottom: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .tablecheckbox .tablerowcheckmark:after {
    left: 4px;
    bottom: 2px;
    width: 6px;
    height: 12px;
    border: solid #7d7e8c;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  #dateinfo {
    display: none;
    /* position: relative; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%; */
    z-index: 9999;

    overflow: hidden;
    margin: auto;
    /* max-height: 100%;
    min-height: 10px;
    min-width: fit-content; */

    position: absolute;
    /* top:-1px; */
    transform: translateX(-25%) translateY(-120%);
    /* transform: translate(-50%, -50%); */
    vertical-align: 5px;
    width: fit-content;
    height: 30px;
    background: #e5e9ef;
    mix-blend-mode: normal;
    border: 3px solid #e0e6ef;
    box-sizing: border-box;
    border-radius: 15px;
    color: #465e82;
    padding: 5px;
  }

  #infoicon {
    font-size: var(--fs-450);
    padding-left: 5px;
    cursor: pointer;
  }

  .tableaddbtn {
    font-size: 20px;
    cursor: pointer;
  }

  .underline-indicators {
    width: 100%;
    text-align: left;
    border: 0;
    color: #7d7e8c;
    text-decoration: underline;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
  }

  .underline-indicators > * {
    cursor: pointer;
    padding: var(--underline-gap, 1rem) 0;
    border: 0;
    border-bottom: 0.2rem solid hsl(var(--clr-white) / 0);
  }

  .underline-indicators > *:hover,
  .underline-indicators > *:focus {
    border-color: var(--clr-white) / 0.5;
  }

  .underline-indicators > .active,
  .underline-indicators > [aria-selected='true'] {
    color: hsl(var(--clrwhite) / 1);
    border-color: hsl(var(--clr-white) / 1);
  }

  .dottedactionbutton {
    color: #ababab;
    border: 0px;
    font-size: 30px;
    background-color: #f3f4f7;
    border: 0px;
    cursor: pointer;
  }

  .actions {
    z-index: 1;
    position: absolute;
    background: #ffffff;
    border: 0.2px solid #c6c6c6;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }

  .actions button {
    display: block;
    min-width: max-content;
    width: 100%;
    border: 0.2px solid #c6c6c6;
    background-color: transparent;
    padding: 8px;
    text-align: left;
  }

  .actions button:enabled {
    cursor: pointer;
    color: #575757;
  }

  #actionDropdown {
    display: none;
    z-index: 1;
    position: absolute;
  }

  /* pagination for tables */
  .pagination-container {
    align-items: center;
  }

  .pagination-container2 {
    justify-content: end;
    align-items: center;
  }

  .pagination-label {
    padding-top: 2px;
    padding-right: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;

    display: flex;
    align-items: center;

    color: #7d7e8c;
  }

  .pagination-dropdown {
    height: 30px;
    width: 60px;
    margin-right: 15px;
    background: rgba(242, 242, 242, 0.4);
    border: 1px solid rgba(97, 97, 97, 0.2);
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #313774;
  }

  .pagination-pagenumber {
    width: 35px !important;
    background: #e8ebf1 !important;
    box-shadow: 0px 1px 3px rgba(230, 234, 238, 0.6);
    border-radius: 6px;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 14px;
    align-items: center;
    color: #313774;
    text-align: center;
    padding-right: 6px;
  }

  .pagination-button {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    /* font-family: "Roboto", sans-serif; */
    background: #e8ebf1;
    padding: 0 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    height: 30px;
    box-shadow: 0px 1px 3px rgba(230, 234, 238, 0.6);
    border-radius: 6px;
    color: #313774;
    /* border: 2px solid black; */
    /* color: black;
  outline: none; */
    border: 2px solid rgba(97, 97, 97, 0.2);
    font-weight: 500;

    margin: 5px;
  }

  .pagination-button:active,
  .pagination-button:hover {
    outline: none;
    background-color: white;
    /* color: black; */
  }
 
  .pagination-button:disabled {
    background-color: white;
    color: #a7a9c0;
    cursor: auto;
    border: 1px solid #a7a9c0;
  }
  /* end of pagination for tables */

  .action-options{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    }
  .searchfilter {
  background: white;
  max-width: 100%;
  margin-top: 15px;
  margin-bottom: 110px;
  padding: 10px;
  padding-top: 30px;
  font-size: 12px;
  min-height: 150px;
  border-radius: 0px 0px 15px 15px;
  }

  .searchfilterrows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 15px;
    width:800px;
  }

  .searchfilterfields {
    height: 50px;
    width: 45%;
  }

  .searchfilterperiodstart {
    width: 45%;
    margin-right: 5px;
  }

  .searchfilterperiodend {
    width: 45%;
    margin-left: 5px;
  }

  .searchfilternames {

    font-family: var(--ff-sans-normal);
    font-size: var(--fs-150);
    font-weight: 700;
    line-height: 14px;
    color: #717171;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 10px;

  }

  .relativeposition {
    position: relative;
  }

  .searchbutton {
    padding: 10px;
  }

  .searchbaricon {
    right: 2px;
    top: 5px;
    position: absolute;
    color: #A1A1A1;
    font-size: 20px;
  }

  .add-batch-btn {
  background-color: #AAAAAA;
  color: white;
  border-radius: 6px;
  border:0px;
  position: absolute;
  width: 609.33px;
  height: 30.38px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  margin-left:-306px;
  }

  .error-status-btn {
    height: 20.851228713989258px;
    width: 93.39344024658203px;
    left: 1159.4296875px;
    top: 361.0078125px;
    border-radius: 6px;
    background-color: #F4DCD9;
    color: red;
    border: 0px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;

  }

  .ready-status-btn {
    height: 20.851228713989258px;
    width: 93.39344024658203px;
    left: 1159.4296875px;
    top: 361.0078125px;
    border-radius: 6px;
    background-color: #BFD0C0;
    color: #607168;
    border: 0px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;

  }
  .select-option-dropdown{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #B7B7B7;
  }

  .modal {
    margin-top: 200px;
  }

  /*Dropdown button for corporate ID*/
  .dropbtn {
    height: 30.38px;
    width: 609.33px;
    font-size: 14px;
    background-color: #f2f2f266;
    border: 1px solid #61616133;
    box-shadow: none;
    -webkit-appearance: none;
    border-radius: 6px;
}

/* The search field */
#myInput {
  box-sizing: border-box;
  height: 30.38px;
  width: 609.33px;
  background-repeat: no-repeat;
  font-size: 14px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

::-webkit-input-placeholder {
  text-align: left;
}

:-moz-placeholder {
  text-align: left;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
  text-align: left;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.corp-id-display {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #717171;
}
#corpIdDropdown {
  height: 200px;
  overflow:scroll;
}

#selected-id-display {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #717171;
  width: 271.7347717285156px;
  left: -10477.9287109375px;
  top: 6959.478515625px;
  border-radius: nullpx;
  padding:5px;
}
</style>

<script>
  function displayActionDropdown() {
    let actionDropdown = document.getElementById("actionDropdown")
    if (actionDropdown.style.display == "none") {
      actionDropdown.style.display = "block";
    } else {
      actionDropdown.style.display = "none"
    }
  };

  $(document).ready(function() {
    prep_modal();
  })

  function addNewBatch() {
    number_batches = '{{nBatches}}'
    console.log(number_batches)
    number_batches = parseInt(number_batches)
    number_batches += 1;
    console.log(number_batches)
  }

  function prep_modal()
    {
      $(".modal").each(function() {

      var element = this;
      var pages = $(this).find('.modal-split');

      if (pages.length != 0)
      {
          pages.hide();
          pages.eq(0).show();

          var c_button = document.createElement("button");
                    c_button.setAttribute("type","button");
                    c_button.setAttribute("class","btn btn-light");
                    c_button.setAttribute("style", "margin-right:10px;width: 155.93px; height: 30.38px; background-color: white;border-color: #8fa3c1;border-radius: 12px;color: #314c74; font: Poppins;font-weight: 600;font-size: 14px;line-height: 10.99px;align-items: center;");
                    c_button.setAttribute("data-bs-dismiss" , "modal");
                    c_button.innerHTML = "Cancel";

          var n_button = document.createElement("button");
                    n_button.setAttribute("type","button");
                    n_button.setAttribute("class","btn btn-light");
                    n_button.setAttribute("style", " width: 155.93px;height: 30.38px; background-color: white;border-color: #8fa3c1;border-radius: 12px; color: #314c74; font: Poppins; font-weight: 600;font-size: 14px; line-height: 10.99px;align-items: center;");
                    n_button.innerHTML = "Next";

          var cfm_button = document.createElement("button");
                    cfm_button.setAttribute("type","button");
                    cfm_button.setAttribute("class","btn btn-light");
                    cfm_button.setAttribute("style", " width: 155.93px;height: 30.38px; background-color: white;border-color: #8fa3c1;border-radius: 12px; color: #314c74; font: Poppins; font-weight: 600;font-size: 14px; line-height: 10.99px;align-items: center;");
                    cfm_button.innerHTML = "confirm";
          
          $(this).find('.modal-btm').append(c_button).append(n_button);


          var page_track = 0;

          $(n_button).click(function() {
            
            this.blur();

            if(page_track == 0)
            {
              $(c_button).show();
            }

            if(page_track == pages.length-2)
            {
              n_button.innerHTML = "Confirm";
              n_button.setAttribute('href', "{% url 'health-report-info'%}");
            }

            if(page_track < pages.length-1)
            {
              page_track++;

              pages.hide();
              pages.eq(page_track).show();
            }
          });

          $(c_button).click(function() {
            if(page_track > 0)
            {
              page_track--;

              pages.hide();
              pages.eq(page_track).show();
            }
            
          });
      }

      });
    }

  function showIdDropdown() {
    document.getElementById("corpIdDropdown").classList.toggle("show");
  }

  function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("corpIdDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
      txtValue = a[i].textContent || a[i].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        a[i].style.display = "";
      } else {
        a[i].style.display = "none";
      }
    }
  }

  function selectID(idx) {
    document.getElementById("corpIdDropdown").classList.toggle("show");
    var corp_ids = '{{corporate_ids}}'
    corp_ids = corp_ids.replace(new RegExp("&"+"#"+"x27;", "g"), "")
    corp_ids = corp_ids.replace("[", "")
    corp_ids = corp_ids.replace("]", "")
    corp_ids = corp_ids.replace(" ", "")
    var corp_ids_arr = corp_ids.split(',');
    var id_selected = corp_ids_arr[idx-1]
    console.log(id_selected)
    document.getElementById("selected-id-display").innerHTML = id_selected;
    // document.getElementById("selected-id-display").setAttribute("visibility", "visible") 
  }
</script>

<div class="main">
  <div class="bodyHeader">
    <p class="page-title">Corporate Health Report</p>
    <button class="settings-btn">
      <a href="http://127.0.0.1:8000/home/setting" style="color: white;">
        Settings
      </a>
    </button>
  </div>
  <div
    style="
      margin-top: -180px;
      margin-left: -240px;
      height: 53.53135681152344px;
      width: 1077.3070068359375px;
      left: 299.3212890625px;
      top: 263.90234375px;
      border-radius: 0px;
    "
  >
    <div>
      <div class="flex-horizontal">
        <p class="table-heading">List of Corporate Health Reports</p>
      </div>
      <br />
      <table class="tablerecords">
        <thead>
          <td>
            <label class="tablecheckbox">
              <input type="checkbox" />
              <span class="tablecheckmark"></span>
            </label>
          </td>
          <td>Corporate Health Report</td>
          <td>Batches included in Corporate Report</td>
          <td>
            <div
              style="display: flex; align-items: center; justify-content: left;"
            >
              Last Generated
          </td>
          <td>
            Report Status
          </td>
          <td>Action</td>
        </thead>
        <tr>
          <td>
            <span class="material-icons-outlined tableaddbtn">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg>
            </span>
          </td>
          <td colspan="7">
            <button class="underline-indicators" data-bs-toggle="modal"
            data-bs-target="#CorpRepPopUp">
              New Corporate Health Report
            </button>
          </td>
        </tr>
            {% for info in report_info %}
            <ol>
              <li style="list-style:none">
                <tr>
                  <td>
                    <label class="tablecheckbox">
                      <input type="checkbox" />
                      <span class="tablerowcheckmark"></span>
                    </label>
                    <td>{{info.0}}</td>
                    <td>{{info.1}}</td>
                    <td>{{info.2}}</td>
                    <td>
                      <div>
                        {% if info.3 == 'Error found' %}
                        <button class="error-status-btn">
                          {{info.3}}
                        </button>
                        {% else %}
                        <button class="ready-status-btn">
                          {{info.3}}
                        </button>
                        {% endif %}
                      </div>
                    <td>
                      <button
                        class="dottedactionbutton material-icons-outlined"
                        id="actionbtn"
                        onclick="displayActionDropdown()"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-three-dots"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
                          />
                        </svg>
                      </button>
                      <div id="actionDropdown" class="actions" style="display: none;">
                        <button class="action-options">Edit Info</button>
                        <button class="action-options">Download CSV</button>
                        <button class="action-options" style="color:red">Delete</button>
                      </div>
                  </td>
                </tr>
              </li>
            </ol>
            {% endfor %}       
      </table>
      <br />
      <div class="flex-horizontal pagination-container">
        <div style="width: 60px;"></div>
        <div class="container4 bg-color0 flex-horizontal pagination-container2">
          <label for="limit" class="pagination-label">Rows per page:</label>
          <select name="limit" class="pagination-dropdown">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="All">All</option>
          </select>
          <button class="pagination-button" disabled>Prev</button>
          <input
            type="text"
            class="input pagination-pagenumber"
            value="1"
            disabled
          />
          <button class="pagination-button" href="http://127.0.0.1:8000/summaryReport/modalPageTwo">Next</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="CorpRepPopUp" tabindex="-1" aria-hidden = "true" aria-labelledby="myModalLabel" style="overflow:scroll">
    <div class="modal-dialog">  
      <div class="modal-content" style="width: 681.99px; height: 500.32px; border-radius: 20px;">
        <div style="margin-right: 10px; margin-top: 10px;">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            style="float: right; height: 13.12px; margin-top:10px;margin-right:25px"
          ></button>
        </div>
        <div class="modal-body">
          <div class="modal-split">
            <div class="modal-body">
              <div class="form-label-ctn">
                <p class="form-label">Corporate Name (ID)</p>
                <p style="text-align: left; margin-left: 4px; color: red;">*</p>
              </div>
              <div class="modal-body-ctn">
                <div class="dropdown">
                  <button onclick="showIdDropdown()" class="dropbtn">
                   <p id="selected-id-display"></p>
                    <i class="material-icons-outlined searchbaricon">
                      <svg xmlns="http://www.w3.org/2000/svg" style="margin-right:10px; margin-bottom:12px;" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                      </svg>
                    </i>
                  </button>
                  <div id="corpIdDropdown" class="dropdown-content">
                    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                    <div style="height:10px"></div>
                    {% for corporate_id in corporate_ids %}
                    <ol>
                      <li style="list-style:none">
                        <a class="corp-id-display" onclick="selectID('{{forloop.counter}}')" >{{corporate_id}}</a>
                      </li>
                    </ol>
                    {% endfor %} 
                  </div>
                </div>
                <!-- <input class="search-field_input"></input>
                  <div class="relativeposition">
                    <i class="material-icons-outlined searchbaricon">
                      <svg xmlns="http://www.w3.org/2000/svg" style="margin-right:10px; margin-bottom:12px;" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                      </svg>
                    </i>
                  </div> !-->
              </div>
              <br />
              <div class="form-label-ctn">
                <p class="form-label">Corporate Health Report Title</p>
                <p style="text-align: left; margin-left: 4px; color: red;">*</p>
              </div>
              <div class="modal-body-ctn">
                <form action="/your-name/" method="post">
                  <input
                    style="
                      width: 609.33px;
                      height: 30.38px;
                      border: 1px solid #61616133;
                      border-radius: 6px;
                      background-color: #f2f2f266;"
                    id="reportTitle"
                    type="text"
                    name="reportTitle"
                    value="{{ reportTitle }}"
                  />
                </form>
              </div>
              <br>
              <div class="form-label-ctn">
                <p class="form-label">Report Type</p>
                <p style="text-align: left; margin-left: 4px; color: red;">*</p>
              </div>
              <div class="modal-body-ctn">
                <select class="btn btn-secondary dropdown-toggle" 
                aria-label="Default select example"
                style="width: 609.33px;
                      height: 30.38px;
                      float: right;
                      border-radius: 6px;
                      background-color: #f2f2f266;
                      border: 1px solid #61616133;
                      color: black;
                      margin-right: 2px;">
                  <option selected style="text-align: center;"></option>
                  <option style="text-align: center;" value="1">One</option>
                  <option style="text-align: center;" value="2">Two</option>
                  <option style="text-align: center;" value="3">Three</option>
                </select>
              </div>
              <br>
              <div class="form-label-ctn">
                <p class="form-label">Batches to include in Corporate Report</p>
                <p style="text-align: left; margin-left: 4px; color: red;">*</p>
              </div>
              <div id="batch-ctn" text>
                {% with ''|center:nBatches as range %}
                {% for _ in range %}
                    <div class="modal-body-ctn">
                      <select class="btn btn-secondary dropdown-toggle" 
                      aria-label="Default select example"
                      style="width: 609.33px;
                            height: 30.38px;
                            float: right;
                            border-radius: 6px;
                            background-color: #f2f2f266;
                            border: 1px solid #61616133;
                            color: black;
                            margin-right: 2px;">
                        <option selected style="text-align: center;"></option>
                        <option style="text-align: center;" value="1">One</option>
                        <option style="text-align: center;" value="2">Two</option>
                        <option style="text-align: center;" value="3">Three</option>
                      </select>
                    </div>
                    <div style="height:8.42px"></div>
                    <button class="add-batch-btn" onClick="addNewBatch()">
                      <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom:3px" width="12px" height="12px" fill="white" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg>
                      Add new batch
                    </button>
                {% endfor %}
                {% endwith %}
              </div>
            </div>
            <div style="height: 20px;"></div>
      </div>
      <div class="modal-split">
        <div class="modal-body">
          <div class="form-label-ctn">
            <p class="form-label">Report Template</p>
            <p style="text-align: left; margin-left: 4px; color: red;">*</p>
          </div>
          <div class="modal-body-ctn">
            <select class="btn btn-secondary dropdown-toggle" 
            aria-label="Default select example"
            style="width: 609.33px;
                  height: 30.38px;
                  float: right;
                  border-radius: 6px;
                  background-color: #f2f2f266;
                  border: 1px solid #61616133;
                  color: #B7B7B7;
                  font-family: Poppins;
                  font-size: 12px;
                  font-weight: 500;
                  line-height: 14px;
                  letter-spacing: 0em;
                  text-align: left;"
                  >
              <option style="text-align: left;">Select Option</option>
              <option style="text-align: center;" value="1">Template 1</option>
            </select>
          </div>
        </div>
      </div>
        </div>
        <div style="height: 20px;"></div>
        <div class="modal-btm">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
