{% extends 'base.html' %} {% block content %}
<style>
  .bodyHeader {
    position: absolute;
    width: 1003.19px;
    height: 78.3px;
    left: 200.17px;
    top: 190.96px;
  }
  /*   .bodyHeader p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 14px;
    position: absolute;
    color: #314c74;
  } */
  .bodyHeader button {
    box-sizing: border-box;
    top: 26.84%;
    right: 50px;
    position: absolute;
    background: #aaaaaa;
    border: 2px solid rgba(17, 0, 0, 0.01);
    border-radius: 6px;
    color: red;
  }

  .table {
    position: absolute;
    left: 200px;
    top: 300px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;
    display: flex;
    align-items: center;
  }

  .modal-body-ctn {
    display: flex;
    justify-content: center;
    align-items: middle;
  }

  .search-field__input {
    height: 30.38px;
    width: 609.33px;
    font-size: 14px;
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #f2f2f266;
    border: 1px solid #61616133;
    box-shadow: none;
    -webkit-appearance: none;
    border-radius: 6px;
  }

  .modal-btm {
    margin-left: 322.14px;
    margin-bottom: 39.04px;
  }

  .form-label {
    text-align: left;
    margin-left: 4px;
    color: #717171;
    font-size: 12px;
    font-weight: 700;
    line-height: 13.55px;
    font: Poppins;
  }
  .btm-btn-text {
    font: Poppins;
    font-weight: 600;
    font-size: 14px;
    line-height: 10.99px;
    align-items: center;
  }
  .form-label-ctn {
    display: flex;
    align-items: center;
    margin-left: 20px;
    height: 32.09px;
  }

  .main {
    height: 884.5703735351562px;
    width: 1203.188232421875px;
    left: 236.2236328125px;
    top: 140.373046875px;
  }

  .page-title {
    height: 14.165586471557617px;
    width: 327.8946533203125px;
    color: #314c74;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 10px;
  }
  .settings-btn {
    height: 30.381864547729492px;
    width: 130.93368530273438px;
    border-radius: 6px;
    background-color: #aaaaaa;
    border: 2px solid #11000003;
    flex: right;
    margin-right: 50px;
  }
  .column-header {
    height: 53.53135681152344px;
    width: 1077.3070068359375px;
    border-radius: 0px;
    background-color: #7788a3;
  }
  .table-row {
    height: 53.53135681152344px;
    width: 1077.3070068359375px;
    border-radius: 0px;
    background-color: #f3f4f7;
    color: #7d7e8c;
  }
  .indiv-column-header {
    width: 50%;
    color: #ffffff;
    justify-content: center;
    margin-top: 12px;
  }
  .add-report-ctn {
    height: 32.094635009765625px;
    width: 285.3984375px;
    left: 383.7119140625px;
    top: 319.78125px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #7d7e8c;
    margin-left: 40px;
  }
  .add-report-link {
    text-decoration: underline;
    color: #7d7e8c;
  }
  .add-report-link:hover {
    color: black;
  }
  .add-report {
    height: 53.53135681152344px;
    width: 1077.3070068359375px;
    background-color: #f3f4f7;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #7d7e8c;
  }
  .list-item {
    color: #7d7e8c;
    width: 50%;
    justify-content: center;
    margin-top: 12px;
  }
</style>
<div class="main">
  <div class="bodyHeader">
    <p class="page-title">Corporate Health Report</p>
    <button class="settings-btn">
      <a href="http://127.0.0.1:8000/home/setting">Settings</a>
    </button>
  </div>
  <div class="table">
    <div class="column-header">
      <div style="display: flex; width: 100%;">
        <div class="indiv-column-header">
          Corporate Health Report
        </div>
        <div class="indiv-column-header">
          Last Generated
        </div>
        <div class="indiv-column-header">
          Batches include in Corporate Report
        </div>
        <div class="indiv-column-header">
          Action
        </div>
      </div>
      <div style="height: 15px;"></div>
      <div class="add-report">
        <div class="add-report-ctn">
          <a
            data-bs-toggle="modal"
            data-bs-target="#CorpRepPopUp"
            class="add-report-link"
          >
            Corporate Health Report
          </a>
        </div>
      </div>
      {% for info in report_info %}
      <ol style="padding-top: 0;">
        <li style="list-style: none; margin-left: -40px; display: inline-block;">
          <div class="table-row">
            <div style="display: flex; width: 100%; color: #7d7e8c;">
              <div class="list-item">
                {{info.0}}
              </div>
              <div class="list-item">
                {{info.1}}
              </div>
              <div class="list-item">
                {{info.2}}
              </div>
              <div class="list-item">
                {{info.3}}
              </div>
            </div>
          </div>
        </li>
      </ol>
      {% endfor %}
    </div>
  </div>
  <div class="modal" tabindex="-1" role="dialog" id="CorpRepPopUp">
    <div class="modal-dialog">
      <div
        class="modal-content"
        style="width: 681.99px; height: 500.32px; border-radius: 20px;"
      >
        <div style="margin-right: 10px; margin-top: 10px;">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            style="float: right; height: 13.12px;"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-label-ctn">
            <p class="form-label">Corporate Name (ID)</p>
            <p style="text-align: left; margin-left: 4px; color: red;">*</p>
          </div>
          <div class="modal-body-ctn">
            <div class="search-field__input"></div>
          </div>
          <br />
          <div class="form-label-ctn">
            <p class="form-label">Corporate Health Report Title</p>
            <p style="text-align: left; margin-left: 4px; color: red;">*</p>
          </div>
          <div class="modal-body-ctn">
            <form action="/your-name/" method="post">
              <input
                style="
                  width: 609.33px;
                  height: 30.38px;
                  border: 1px solid #61616133;
                  border-radius: 6px;
                  background-color: #f2f2f266;
                "
                id="reportTitle"
                type="text"
                name="reportTitle"
                value="{{ reportTitle }}"
              />
            </form>
          </div>
          <div class="form-label-ctn">
            <p class="form-label">Report Type</p>
            <p style="text-align: left; margin-left: 4px; color: red;">*</p>
          </div>
          <div class="modal-body-ctn">
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                style="
                  width: 609.33px;
                  height: 30.38px;
                  float: right;
                  border-radius: 6px;
                  background-color: #f2f2f266;
                  border: 1px solid #61616133;
                  color: black;
                  margin-right: 2px;
                "
              ></button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <br />
          <div class="form-label-ctn">
            <p class="form-label">Batches to include in Corporate Report</p>
            <p style="text-align: left; margin-left: 4px; color: red;">*</p>
          </div>
          <div class="modal-body-ctn">
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                style="
                  width: 609.33px;
                  height: 30.38px;
                  float: right;
                  border-radius: 6px;
                  background-color: #f2f2f266;
                  border: 1px solid #61616133;
                  color: black;
                  margin-right: 2px;
                "
              ></button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-btm">
          <button
            type="button"
            class="btn btn-light"
            data-bs-dismiss="modal"
            style="
              width: 155.93px;
              height: 30.38px;
              background-color: white;
              border-color: #8fa3c1;
              border-radius: 12px;
              color: #314c74;
              font: Poppins;
              font-weight: 600;
              font-size: 14px;
              line-height: 10.99px;
              align-items: center;
            "
          >
            Cancel
          </button>
          <button
            type="button"
            class="btn btn-light"
            style="
              width: 155.93px;
              height: 30.38px;
              background-color: white;
              border-color: #8fa3c1;
              border-radius: 12px;
              color: #314c74;
              font: Poppins;
              font-weight: 600;
              font-size: 14px;
              line-height: 10.99px;
              align-items: center;
            "
          >
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
