.footer {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #314C74;

}
.footer a:hover{
            color:#ce4e6e90;
        } 