
.bodyHeader {
    position: absolute;
    width: 1200px;
    height: 78px;
    left: 230px;
    top: 17%;
}
.bodyHeader p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 14px;
    position: absolute;
    font-weight: 700;
    color:#314C74;
}

.container {
    position: absolute;
    left: 237.17px;
    top: 200px;
}

.container .nav .nav-item .nav-link.active {
    color: #fff;
    background-color: #7788A3;
    border: 2px solid ;
    border-radius: 6px 6px 0px 0px;
    margin-right: 0.5rem;
}

.container .nav .nav-item .nav-link {
    color: red;
    background-color: #fff;
    border: 2px solid ;
    border-radius: 6px 6px 0px 0px;
    margin-right: 0.5rem;
}

.text-blue-01 {
    color: var(--clr-blue-01);
  }
  
.container .tab-content .tab-pane .outer-row .row .col .dropzone {
    border: 5px solid blue;
    background-color: #7788A3;
    width: 200px;
    height: 100px;
    color:#314C74;
  }